<div id="content">
  <div class="ic">
  </div>
  <div class="container">
    <div class="row">
      <article class="span8">
        <div class="inner-1">
          <ul class="list-blog">
            <li class="last">
              <h3>
                {{ page.title }}
              </h3>
              <time datetime="{{ page.date |date: '%Y-%m-%d'}}" class="date-1">
                <i class="icon-calendar icon-white">
                </i>
                {{ page.date |date: "%Y-%m-%d"}}
              </time>
              <div class="name-author">
                <i class="icon-user icon-white">
                </i>
                <a href="#">{{ site.author.name }}</a>
              </div>
              <div class="clear">
              </div>
              {% if page.photo %}
              <div class="">
                <img alt="" src="{{BASE_PATH}}/assets/Flag_of_Cascadia.png" style="visibility: visible; opacity: 1;">
              </div>
              {% endif %}
              {{ content }}
            </li>
          </ul>
        </div>
        <div class="pagination">
          <ul>
          {% if page.previous.category != 'Place'  %}
            <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; {{ page.previous.title }}</a></li>
          {% else %}
            <li class="prev disabled"><a>&larr; Previous</a></li>
          {% endif %}
          {% if page.next.category != 'Place' %}
            <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }} &rarr;</a></li>
          {% else %}
            <li class="next disabled"><a>Next &rarr;</a>
          {% endif %}
          </ul>
        </div>
      </article>
      <!-- <article class="span4">
        <h3>
          Archive
        </h3>
        {% unless page.categories == empty %}
        Categories
          <ul class="tag_box inline">
            <li><i class="icon-folder-open"></i></li>
            {% assign categories_list = page.categories %}
            {% include JB/categories_list %}
          </ul>
        {% endunless %}  

        {% unless page.tags == empty %}
        Tags
          <ul class="tag_box inline">
            {% assign tags_list = page.tags %}
            {% include JB/tags_list %}
          </ul>
        {% endunless %}  
      
      </article> -->
    </div>
  </div>
</div>